<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% if user.is_authenticated %}
    <h1>Welcome {{ user.username }}!</h1>
    <h3>User Profile</h3>
    <ul>
        <li>Username: {{ user.username }}</li>
        <li>Email: {{ user.email }}</li>
        <li>Id: {{ user.id }}</li>
        <li>Last login: {{ user.last_login }}</li>
    </ul>
    <a href="/accounts/logout">Logout</a>
{% else %}
    <h3>Please login to continue</h3>
    <a href="/accounts/login">Login</a>
{% endif %}
</body>
</html>